body {
  background-color: #111;
  color: white;
}

.datukonteiners:hover {
  background-color: aqua;
  font-size: 2rem;
  transition: 700ms;
}
#myChart {
  border: solid 5px;
  border-color: beige;
  border-radius: 20px;
  margin: 20px;
}
